## Part 1: Preprocessing

In [166]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [167]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [168]:
attrition_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [169]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]

In [170]:
# Create a list of at least 10 column names to use as X data
selected_columns = ['Age', 'OverTime', 'DistanceFromHome', 'Education', 'JobLevel', 'YearsAtCompany', 'PerformanceRating', 'JobSatisfaction', 'YearsWithCurrManager', 'YearsInCurrentRole']


# Create X_df using your selected columns
X_df = attrition_df[selected_columns]

# Show the data types for X_df
X_df.dtypes

Age                      int64
OverTime                object
DistanceFromHome         int64
Education                int64
JobLevel                 int64
YearsAtCompany           int64
PerformanceRating        int64
JobSatisfaction          int64
YearsWithCurrManager     int64
YearsInCurrentRole       int64
dtype: object

In [171]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=75)

In [172]:
# Convert your X data to numeric data types however you see fit

# Add new code cells as necessary
X_train['OverTime'].value_counts()

OverTime
No     799
Yes    303
Name: count, dtype: int64

In [173]:
# Create a StandardScaler, 
#scaler = StandardScaler()

# Fit the StandardScaler to the training data
#X_scaler = scaler.fit(X_train)

# Scale the training and testing data
#X_train_scaled = X_scaler.transform(X_train)
#X_test_scaled = X_scaler.transform(X_test)

In [174]:
# Create a OneHotEncoder for the Department column
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse_output=False, drop='first', handle_unknown='error')

# Fit the encoder to the training data
encoder.fit(np.array(X_train[['OverTime']]).reshape(-1, 1))


# Create two new variables by applying the encoder
X_train["OverTime_encoded"]= encoder.transform(np.array(X_train[['OverTime']]).reshape(-1, 1))
X_test["OverTime_encoded"] = encoder.transform(np.array(X_test[['OverTime']]).reshape(-1, 1))
X_train= X_train.drop(columns=['OverTime'])
X_test= X_test.drop(columns=['OverTime'])

                                   
# to the training and testing data
X_train.dtypes

Age                       int64
DistanceFromHome          int64
Education                 int64
JobLevel                  int64
YearsAtCompany            int64
PerformanceRating         int64
JobSatisfaction           int64
YearsWithCurrManager      int64
YearsInCurrentRole        int64
OverTime_encoded        float64
dtype: object

In [175]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_scaler = scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [176]:
# Create a OneHotEncoder for the Attrition column
encoder = OneHotEncoder(sparse_output=False, drop='first', handle_unknown='error')

# Fit the encoder to the training data
encoder.fit(np.array(y_train[['Attrition']]).reshape(-1, 1))

# Create two new variables by applying the encoder
y_train["Attrition_encoded"]= encoder.transform(np.array(y_train[['Attrition']]).reshape(-1, 1))
y_test["Attrition_encoded"] = encoder.transform(np.array(y_test[['Attrition']]).reshape(-1, 1))
                                                
                                                
# to the training and testing data
y_train= y_train.drop(columns=['Attrition'])
y_test= y_test.drop(columns=['Attrition'])

## Create, Compile, and Train the Model

In [177]:
len(X_train.columns)

10

In [178]:
X_train

,Age,DistanceFromHome,Education,JobLevel,YearsAtCompany,PerformanceRating,JobSatisfaction,YearsWithCurrManager,YearsInCurrentRole,OverTime_encoded
719,47,4,2,2,9,3,4,7,0,1.0
754,33,8,1,1,2,3,4,2,2,0.0
24,34,6,1,1,4,3,1,3,2,0.0
1275,51,3,3,3,2,3,3,2,2,0.0
961,35,4,4,2,9,3,3,1,6,1.0
...,...,...,...,...,...,...,...,...,...,...
1050,42,9,2,1,12,3,4,8,9,0.0
136,51,8,4,3,4,3,4,3,2,0.0
19,38,2,3,1,3,3,4,2,2,1.0
368,40,22,2,2,6,3,3,0,4,1.0
248,37,1,2,1,3,3,1,2,1,0.0

In [179]:
# Find the number of columns in the X training data
number_input_features = len(X_train.columns)

# Create the input layer
input_layer = layers.Input(10, name='input_layer')

# Create at least two shared layers
shared_layer1 = layers.Dense(units=10, activation='relu', name='shared_layer1')(input_layer)
shared_layer2 = layers.Dense(units=5, activation='relu', name='shared_layer2')(shared_layer1)

ValueError: Cannot convert '10' to a shape.

In [ ]:
# Create a branch for Department
department_branch = layers.Dense(units=5, activation='relu', name='department_branch')(shared_layer2)

# with a hidden layer and an output layer
department_hidden = layers.Dense(units=5, activation='relu', name='department_hidden')(department_branch)
department_output = layers.Dense(units=1, activation='sigmoid', name='department_output')(department_hidden)

In [ ]:
# Create a branch for Attrition
attrition_branch = layers.Dense(units=5, activation='relu', name='attrition_branch')(shared_layer2)

# with a hidden layer and an output layer
attrition_hidden = layers.Dense(units=5, activation='relu', name='attrition_hidden')(attrition_branch)
attrition_output = layers.Dense(units=1, activation='sigmoid', name='attrition_output')(attrition_hidden)

In [ ]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output])

# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'binary_crossentropy', 'attrition_output': 'binary_crossentropy'},
              metrics={'department_output': 'accuracy', 'attrition_output': 'accuracy'})

# Summarize the model
model.summary()

In [ ]:
# Train the model
model.fit(X_train_scaled, {'department_output': np.array(y_train['Department']), 'attrition_output': np.array(y_train['Attrition_encoded'])}, epochs=100, shuffle=True, verbose=2)

In [ ]:
# Evaluate the model with the testing data
model_loss, model_accuracy = model.evaluate(X_test_scaled, {'department_output': np.array(y_test['Department']), 'attrition_output': np.array(y_test['Attrition_encoded'])}, verbose=2)

In [ ]:
# Print the accuracy for both department and attrition
print(f"Department Accuracy: {model_accuracy[0]}, Attrition Accuracy: {model_accuracy[1]}")

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

Answer Yes, because the occuracy rate is high. 

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?
Anwwer: More layers and features can improve this model.

YOUR ANSWERS HERE

1. 
2. 
3.